@import url(//fonts.googleapis.com/css?family=Tomorrow);
@import url(//fonts.googleapis.com/css?family=Chakra+Petch);
@import url(//fonts.googleapis.com/css?family=Work+Sans);
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,300;0,400;0,600;0,700;0,800;1,700&family=Tourney:wght@300;900&display=swap');

body{
font-family: 'Tomorrow', 'Chakra Petch', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
background-color: rgb(255, 255, 255);
}

/*
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, rgb(212, 255, 0), #23d549, rgb(212, 255, 0), #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/


#contenido {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 700px;
}



.contenedor-iframe {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.contenedor-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h3{
  margin-bottom: 0;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 6px;
  padding-top: 6px;
  /*
  font-family: 'Work Sans';
  */
  font-family: 'Tomorrow', sans-serif;
  font-weight: normal;
  background-color: white;
  display: inline-block;
}

.contenido-colapsable {
 /* padding: 0 18px;*/
  display: none;
  overflow: hidden;
  background-color: #cdcccc; 
 }

.colapsable {
  color: rgb(0, 0, 0);
  /*background-color: rgb(210, 210, 210);*/
  background-color: rgb(225, 225, 225);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  
  border-style: solid;
  border-width: 1px;
  border-color: black;
  
  border: none;
  
  text-align: left;
  outline: none;
  font-size: 20px;
  /*font-family: 'Work Sans', 'Chakra Petch', sans-serif;*/
  font-family: 'Tomorrow', sans-serif;
  margin-top: 1px;
}

.colapsable img{
  height: 20px;
  width: auto;
  right: 10px;
  float: right;
  content: url("/images/down-arrow.png");
}

.active img{
  height: 20px;
  width: auto;
  right: 10px;
  float: right;
  content: url("/images/up-arrow.png");
}

.active, .colapsable:hover {
  background-color: rgba(212, 255, 0);
  /*
  margin-left: -5%;
  width: 105%;
  */
}

h1{
  font-family: 'Tomorrow', sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.ubicacion{
  margin-bottom: 5px;
}

.ubicacion a{
  text-decoration: none;
  color: black;
}

.ubicacion a:hover{
  color: blue;
}

hr{
  margin-bottom: 40px;
}

#titulo-portafolio{
  font-size: 50px;
}

#contenido-pagina-principal{
  background-color: #e7e7e7;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 700px;
  height: 100vh;
}

#contenido-pagina-principal h1{
  padding-left: 10px;
}

#contenido-pagina-principal p{
  padding-left: 20px;
  margin-top: 8px;
  /*font-weight: 300;*/
}

.indice{
  padding-left: 40px;

}

.indice a{
 /* font-family: 'Work Sans';*/
  font-family: 'Tomorrow';
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;
}

.indice a:hover{
  color: rgb(0, 0, 255);
}

h2{
  font-family: 'Tomorrow', sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;;
  font-weight: normal;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.texto{
  font-size: 18px;
  font-weight: 300;
}

.texto b{
 font-weight: 600;
}